<div class="create-main">
    <div>
        <h1>Create a new blog post!</h1>
    </div>
    <form id="create-blog-form">
        <input id="title" type ="text" placeholder="Enter a title">
        <input id="content" type ="text" placeholder="Enter blog content">
        <input type="submit" value="Publish">
    </form>
</div>

<script src="./js/create.js"></script>