<div class="homepage-main">
    {{#each blogPosts as |post|}}
    <div class="blog-post">
        <div class="blog-title">
            <h1>{{post.title}}</h1>
            <span>Posted By {{post.user.name}} on {{format_date post.date_created}}</span>
        </div>
        <div class="blog-content">
            <p>{{post.content}}</p>
        </div>
    </div>
    {{/each}}
</div>