<div class="homepage-main">
    <div class="blog-post">
        <div class="blog-title">
            <h1>Blog Title</h1>
            <span>Posted By XYZ on 5/8/2021</span>
        </div>
        <div class="blog-content">
            <p>This is where the content of the blog post will go. Blah Blah Blah</p>
        </div>
    </div>
    <div class="blog-post">
        <div class="blog-title">
            <h1>Blog Title</h1>
            <span>Posted By XYZ on 5/8/2021</span>
        </div>
        <div class="blog-content">
            <p>This is where the content of the blog post will go. Blah Blah Blah</p>
        </div>
    </div>
    <div class="blog-post">
        <div class="blog-title">
            <h1>Blog Title</h1>
            <span>Posted By XYZ on 5/8/2021</span>
        </div>
        <div class="blog-content">
            <p>This is where the content of the blog post will go. Blah Blah Blah</p>
        </div>
    </div>
</div>