<div class="post-main">
    <div class="blog-post">
        <div class="blog-title">
            <h1>{{post.title}}</h1>
            <span>Posted on {{format_date post.date_created}}</span>
        </div>
        <div class="blog-content">
            <p>{{post.content}}</p>
        </div>
        <div>
        </div>
    </div>
    <button>
        <a>Add a Comment</a>
    </button>
    {{#if post.comment}}
    <div class="blog-comment">
        <p>This is the blog comment</p>
        <p>UserZYX on 5/8/2021</p>
    </div>
    {{/if}}
    {{#if isOwner}}
    <button>
        <a id="delete">Delete Post</a>
    </button>
    <button>
        <a href="update/{{post.id}}">Edit Post</a>
    </button>
    {{/if}}
</div>

<script src="/js/delete.js"></script>
{{!-- <script src="/js/update.js"></script> --}}