<div class="login-main">
    <div>
        <h1>Signup</h1>
    </div>
    <form id="signup-form">
        <input id="name" type="name" placeholder="Enter your name">
        <input id="email" type="email" placeholder="Enter your email">
        <input id="password" type="password" placeholder="Enter your password">
        <input type="submit" value="Signup">
    </form>
    <div>
        <a href="/login">
            <p>Already have an account? Click here to login</p>
        </a>
    </div>
</div>

<script src="./js/signup.js"></script>