<div class="create-main">
    <div>
        <h1>Update this blog post!</h1>
    </div>
    <form id="update-blog-form">
        <textarea id="title" type ="text" placeholder="Enter a title" value={{post.title}}>{{post.title}}</textarea>
        <textarea id="content" type ="text" placeholder="Enter blog content" value={{post.content}}>{{post.content}}</textarea>
        <input type="submit" value="Save Updates">
    </form>
</div>

<script src="/js/saveUpdate.js"></script>